<p data-hook="pagseguro_checkout"></p>

<%
  payment_method = Spree::PaymentMethod.where(type: 'Spree::BillingIntegration::Pagseguro::Checkout').first
  if payment_method && payment = @order.payments.find_by(state: 'checkout', payment_method_id: payment_method.id)
    if payment.completed?
    %>
      Seu pagamento foi aprovado pelo PagSeguro através da transação #<%= Spree::PagseguroTransaction.find_by_order_id(@order.id.to_s).transaction_id if Spree::PagseguroTransaction.find_by_order_id(@order.id.to_s) %>
    <% else %>
      <%= link_to "Pagar agora com PagSeguro", Spree::BillingIntegration::Pagseguro::Checkout.payment_url(Spree::PagseguroTransaction.find_by_order_id(@order.id.to_s).code) %>
      <script>
      $(function() {
        $("#checkout_form_payment .form-buttons").hide();
      });
      </script>
    <% end %>
<% end %>
